@import "~bootstrap/dist/css/bootstrap.css";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

body {
  /* //background-color: #e0eded; */
}
.sidebar {
  background-color: aliceblue;
  height: 100vh;
  margin: 0;
}
